<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改嘉宾信息</title>
    <link rel="stylesheet" th:href="@{/form.css}">
</head>
<body>
    <h2 class="mt20 ml12">修改嘉宾信息</h2>

    <form th:action="@{/guest/update}" th:object="${guest}" method="post" class="ml50">
        <input type="hidden" name="_method" value="put">
        <div class="mt20">
            name: <input type="text" name="name" th:value="*{name}" readonly>
        </div>
        <div class="mt20 ml12">
            role: <input class="input" type="text" name="role">
        </div>
        <input type="submit" value="提交" class="mt20 ml50">
    </form>
</body>
</html>